.categoriesWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.createCategoryButton {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: var(--green);
    box-sizing: content-box;
    padding: 10px;
    width: 50px;
    border-radius: 100px;

    &:hover {
        background-color: var(--darkGreen);
    }
}

.newCard {
    display: flex;
    gap: 20px;
    background-color: var(--lighten);
    padding: 20px;
    border-radius: 14px;
    align-items: center;
}

.categoryName {
    font-size: 20px;
    width: 200px;
    background-color: transparent;
    border: none;
    color: white;
    overflow-x: visible;
}

.deleteCategoryButton {
    border-radius: 100px;
    padding: 5px;
}

.deleteCategoryButton:hover {
    background-color: var(--lighten);
    transition-duration: 200ms;
    transition-property: background-color;
}