:root {
    --black: rgb(36, 36, 36);
    --lighten: rgba(255, 255, 255, 0.1);
    --green: rgb(0, 201, 141);
    --darkGreen: rgb(0, 192, 134);
}

input, textarea {
    font-family: Arial, Helvetica, sans-serif, system-ui;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content;
    grid-auto-rows: fit-content;
    gap: 20px;
}

.createNoteButton {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: var(--green);
    box-sizing: content-box;
    padding: 10px;
    width: 50px;
    border-radius: 100px;

    &:hover {
        background-color: var(--darkGreen);
    }
}

.newNote {
    background-color: var(--lighten);
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    padding: 20px;
    gap: 10px;
}

.description {
    resize: none;
    border: none;
    color: white;
    height: 200px;
    background-color: transparent;
    overflow: auto;
    font-size: 20px;
}

.title {
    border: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
}

.deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    padding: 5px;
    border-radius: 100px;
    box-sizing: content-box;

    &:hover {
        background-color: var(--lighten);
    }
}
