/* CSS RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    appearance: none;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
a {
    color: inherit;
}
/* CSS RESET END */

:root {
    --black: rgb(36, 36, 36);
    --lighten: rgba(255, 255, 255, 0.1);
    --green: rgb(0, 201, 141);
    --darkGreen: rgb(0, 192, 134);
}

@font-face {
    font-family: "roboto-condensed";
    src: url("../fonts/roboto-condensed.ttf");
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main";
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    color: white;
    font-family: Arial, Helvetica, sans-serif, system-ui;
    background-color: var(--black);
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    background-color: var(--black);
    top: 0;
    z-index: 2;

    & input[type="image"] {
        width: 30px;
        cursor: pointer;
        box-sizing: content-box;
        padding: 10px;
        border-radius: 100px;
    }

    & input[type="image"]:hover {
        background-color: var(--lighten);
    }

    & .left {
        display: flex;
        align-items: center;
        flex: 1 0 0;
        gap: 15px;
    }

    & .right {
        display: flex;
        align-items: center;
    }

    & .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    img {
        width: 30px;
    }

    & .name {
        font-size: 30px;
        font-family: "roboto-condensed", Arial, Helvetica, sans-serif, system-ui;
    }
}

nav {
    grid-area: nav;
    font-size: 20px;
    padding: 20px 20px 0 20px;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
    align-self: start;

    & div {
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 100px;
        cursor: pointer;
    }

    & div:not(.add):hover {
        background-color: var(--lighten);
    }

    .add {
        background-color: var(--green);
        margin-bottom: 10px;
    }

    .add:hover {
        background-color: var(--darkGreen);
    }

    & img {
        width: 30px;
    }

    &[data-display = "condensed"] {
        & p {
            display: none;
        }

        & div {
            padding: 10px;
        }
    }

    &[data-display = "expanded"] {
        & p {
            display: block;
        }

        & div {
            padding: 10px 40px 10px 10px;
        }
    }
}

main {
    grid-area: main;
    position: relative;
    margin: 20px 40px 20px 20px;
}